.my-searchfield {
    border-radius: 30px; 
    width: 50%; 
    height: 50px; 
    margin-top: 20px; 
    margin-bottom: 20px; 
    padding-left: 20px; 
    padding-right: 20px;
    border-width: thin;
    border-color: grey;
}